<% @contacts.reverse.each do |contact| %>

<card>

  <div class="card-top">
    <h4 class="card-title">ID #:<%= contact.id %></h4>
  </div>

  <div class="contact-info">
    <h4><%= contact.first_name %></h4>
    <h4><%= contact.last_name %></h4>
    <h5><a href="mailto:<%= contact.email %>"><%= contact.email %></a></h5>
    <h5><%= contact.notes %></h5>
  </div>

  <div class="contact-buttons">
    <button class="edit-contact-btn">
    EDIT CONTACT
    </button>
    <button class="delete-contact-btn">
    DELETE CONTACT
    </button>
  </div>

</card>

<% end %>